<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Login</title>

    <!-- Bootstrap -->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>

    <script src="https://apis.google.com/js/platform.js?onload=start"> </script>

    <script>
        gapi.load('auth2', function() {
            auth2 = gapi.auth2.init({
                client_id: '893179031462-hbg2b7qicg85m132evtii81502sqe956.apps.googleusercontent.com',
                });
            });
   </script>
</head>
<body>
	<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Super Ultra Mega Groceries</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
				<a href="{{ url_for('homepage') }}">
					Home
				</a>
			</li>
		</div>
	</nav>

	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
		  <h1 style="text-align:center;">
		  	Login
	  	  </h1>
	  </div>

  <div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">

<div id="result"></div>
<button  class="g-signin2" id="signinButton">Sign in with Google</button>

<script>
  $('#signinButton').click(function() {


    auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);

  });
</script>
</div>

<!--Sign in code -->
<script>
function signInCallback(json) {
  console.log('inside callback fuction');
  console.log(json);
  // authResult = JSON.parse(json);
  authResult = json;
  if (authResult['code']) {
    // Hide the sign-in button after authentication
    $('#signinButton').attr('style', 'display: none');
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{ STATE }}',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response
          if (result) {
            $('#result').html('Login Successful!</br>');
            window.location.href= "{{ url_for('homepage') }}";
          } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
          } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          }
        }
      });
  }
}
</script>

<script>
    var auth2;

    gapi.load('auth2', function() {
        auth2 = gapi.auth2.init();
    });

    function onSignIn() {
        var profile = auth2.currentUser.get().getBasicProfile();
        console.log('User logged in.');
        console.log('ID:', profile.getId());
        console.log('Name:', profile.getName());
        console.log('Image URL:', profile.getImageUrl());
        console.log('Email:', profile.getEmail());
    }

    function signOut() {
        auth2.signOut().then(function() {
            console.log('User signed out.')
            window.location.href="{{ url_for('homepage') }}";
        });
    }
    </script>
</body>
