<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Edit Item</title>

    <!-- Bootstrap -->
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Super Ultra Mega Groceries</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
				<a href="{{ url_for('homepage') }}">
					Home
				</a>
			</li>
			<ul class="nav navbar-nav">
              <li class="active">
  				<a href="{{url_for('showCategory', category_id = category_id)}}">
  					Back
  				</a>
			  </li>
		</div>
	</nav>

	<div class="container theme-showcase" role="main">
		<div class="page-header">
			<h1>Edit Item</h1>
		</div>
<form action="#" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder = '{{item.name }}'>
	<p>Description:</p>
		<input type ='text' size='30' name='description' placeholder = '{{item.description}}'>
	<p>Price:</p>
		<input type ='text' size='30' name='price' placeholder = '{{item.price}}'>
		<input type='submit' value='Edit'><br>
</form>
</body>
</html>
